.hero-section {
  padding: 225px 0;
  background-image: url(../../imgs/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-info {
  max-width: 490px;
  position: relative;
  background-image: url(../../imgs/hero-bg-mark.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-y: calc(50% - 181px);
  background-position-x: calc(50% + 53px);
  z-index: 10;
  &__title {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 54px;
    line-height: 130%;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
    color: $white;
  }
  &__text {
    max-width: 370px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 25px;
    color: $white;
  }
  &__link {
    @include link;
    @include text-style;
    font-weight: 600;
    margin-bottom: 225px;
    transition: background 0.4s ease;
  }
  &__link:hover {
    background: #75110d;
  }
  &__img {
    position: absolute;
    top: -50px;
    right: -810px;
  }
}
